version: "3.7"
services:
  app:
    build: ./docker/php
    volumes:
      - ./contents:/home/contents

  web:
    build: ./docker/nginx
    ports:
      - 10080:80
    volumes:
      - ./contents:/home/contents
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf

  mysql:
    platform: linux/amd64
    build: ./docker/mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: azatora_db
      MYSQL_USER: azatora
      MYSQL_PASSWORD: azatora
    volumes:
      - db-store:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf

volumes:
  db-store:
